/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
	word-wrap: break-word;
	word-break: break-word;
}

html {
	box-sizing: border-box;
}
