
.post-thumbnail img {
	border-radius: 1rem;
}

.entry-meta {
	//font-family: Merriweather, serif;
	font-size: 1.2rem;
	margin: 1rem 0 4rem;
	/*text-align: center;*/
}

.entry-meta span {
	margin-right: 1rem;
	color: #666;
}

.entry-meta span a {
	color: #222;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 1px;
}

.entry-footer{
	margin-top: 3rem;
}

.main-header {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* Main Section */
.site-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

main ,
.article-container{
	display: flex;
	flex-wrap: wrap;
	//flex: 2 1 60rem;
	margin: 0 2rem;
	max-width: 120rem;
	flex: 2 1 80rem;
	justify-content: space-between;
	overflow-x: auto;
}

.primary-content header{
	flex-basis: 100%;
}

aside {
	flex: 1 1 30rem;
	padding: 0 2rem;
}


@media (max-width: 920px) {
	.alignwide {
		margin: 32px -76px;
		max-width: 920px;
		width: 920px;
	}
}

@media screen and (min-width: 910px) and (max-width: 991px) {
	.wrap {
		width: 910px;
		margin: auto;
	}
}

@media screen and (min-width: 992px) {
	.wrap {
		width: 1200px;
		margin: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 910px) {
	.wrap {
		width: 750px;
		margin: auto;
	}
}



/* Blog Type List*/
.blog-type-list{
	display: flex;
	//align-items: flex-start;
	flex-direction: column;
}

//.blog-type-list > a{
//	flex: 1 1 25rem;
//}
//.blog-type-list-content{
//	flex: 2 1 50rem;
//}

.blog-type-list-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
//
//footer .wrap div {
//	flex: 1 1 25rem;
//}

.wrap-site-info {
	display: flex;
	justify-content: center;
	border-top: 1px solid rgba(136, 136, 136, .1);
}

.site-info-holder {
	padding: 3rem 0;
	/*padding-top: 30px;*/
	/*padding-bottom: 30px;*/
}

article, nav.navigation {
	padding: 0 0 4rem;
}

article{
	flex: 1 1 30rem;
	margin: 0 1.666666% 30px;
	min-width: 0;
}

.home article,
.archive article
{
	max-width: 35rem;
}

.home article:hover{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 35px 70px 0 rgba(0, 0, 0, 0.12);
	transform: translateY(-5px);
}

nav.navigation{
	width: 100%;
}
.site-footer {
	background-color: #17161a;
	color: rgba(255, 255, 255, 0.8);
}

.site-footer .wrap {

	padding: 6rem 0;
}

.site-footer a {
	color: rgba(255, 255, 255, 0.8);
}

/****  PAGINATION ****/

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline;
}

.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {

	background-color: #e22c2f;
	border: 1px solid #e22c2f;
	font-size: 20px;
	padding-bottom: 15px;
	//border-radius: 3px;
	cursor: pointer;
	//padding: 12px;
	//padding: 0.75rem;
}

//.navigation li a:hover,
//.navigation li.active a {
//	background-color: #3C8DC5;
//}

.navigation li a,
{
	color: #000;
	background-color: #fff;
	//background-color: #e22c2f;
	border: 1px solid #ddd;
	border-radius: 100px;
	padding: 17px 24px 16px;
	font-size: 16px;
	font-weight: 900;
}


/**** tmove it to navigation */
.navigation
{
	margin: 0 0 1.5em;
	width: 100%;
	text-align: center;
}

.no-post-thumbnail{
	width: 35rem;
	height: 23rem;
	background: #fed672;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 1rem;
}

.post-thumbnail-dropcase{
	font-size: 25rem;
	color: rgba(0,0,0,.07);
	font-family: 'Finger Paint', cursive;
}
.post-thumbnail-dropcase::before{
	content: '';
	//z-index: -2;
	top: 2vh;
	right: 2vh;
	bottom: 1vh;
	opacity: 0.5;
	background-image: radial-gradient(#141c3a 6%,transparent 0);
	background-size: 28px 28px;
	position: absolute;
	width: 100%;
}
