.blog-5 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;

  & .entry-title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.2;
  }

  & > article {
    flex: 1 1 33.33%;
    position: relative;
    padding: 2em 1em 0;

    & > .blog-type-list {
      border-radius: 10px;
      border: 1px solid #ededed;
      transition: box-shadow 300ms ease-in-out;
      background: linear-gradient(to right, #0099f7, #f11712);

      &:hover {
        box-shadow: 0 7px 30px -10px rgba(133, 153, 162, 0.5);
      }

      & > .article-featured-image {
        flex: 1 0 100%;
        overflow: hidden;
        width: auto;
        height: fit-content;
        padding-top: 100%;
        min-width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem;
      }

      & .blog-article-metainfo {
        padding: 1rem 3rem;
        position: absolute;
        bottom: 0;
        color: #fff;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);

        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      & .post-thumbnail-container {
        border-radius: 1rem 1rem 0 0;
      }
    }
  }
}
