.blog-3 .inner-entry {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  width: 100%;

  &:hover a {
    color: #00f;
  }

  & > div {
    flex: 1 1 50%;
  }

  & .entry-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 4rem;
  }

  & .posted-on {
    color: rgba(0, 0, 0, 0.4);
  }

  & .entry-summary {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .blog-3 {
    flex-direction: column;

    & .post-excerpt {
      margin: 0 0 3rem 0;
    }
  }
}
