.blog-2 article {
  padding: 0 1%;
  flex: 1 1 33.333%;
  transition: box-shadow 0.15s ease-in-out;
  margin-bottom: 3rem;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  & .post-thumbnail-container {
    display: block;
  }

  & .post-thumbnail-drop-case {
    font-size: 10vw;
  }

  & .post-thumbnail img {
    height: 18.5rem;
    transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96),
      -webkit-transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }

  & .blog-type-list-content {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  & h2.entry-title {
    margin-bottom: 1.5rem;
  }

  & .no-post-thumbnail {
    height: 18.5rem;
  }
}

.blog-2:hover .post-thumbnail img {
  transform: scale(1.05) translateZ(0);
  border-radius: 1rem;
}

.blog-2:hover .post-thumbnail-drop-case {
  transform: scale(1.2) translateZ(0);
}
