@media (min-width: 768px) {
  .single-post {
    .entry-header,
    .entry-content,
    .tags-links,
    .post-navigation,
    .comments-area,
    .author-bio {
      margin-left: 8%;
      max-width: 94%;
    }
  }
  .page {
    .entry-header,
    .entry-content,
    .comments-area,
    .author-bio {
      margin-left: 8%;
      max-width: 94%;
    }
  }
}

.page article,
.single-post article {
  width: 100%;
}

.single-post .cat-links {
  border-radius: 10rem;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 10px;
  color: #2b394e;
  background: rgba(0, 0, 0, 0.06);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  font-size: 1rem;
}
