.main-header {
	width: 90%;
	margin: auto;
	justify-content: center;
}

.site-title {
	text-transform: uppercase;
	font-size: 1.7rem;
	font-weight: 700;
	letter-spacing: 0.5rem;
	line-height: 1.2;
	border-bottom: 3px solid rgb(226, 44, 47);
}

header .wrap{
	width: 100%;
}