@media screen and (max-width: 768px) {
  .gautam-share {
    display: none;
  }

  //.wrap {
  //  width: 100%;
  //  margin: auto;
  //}
}

.gautam-share.fixed a > svg {
  width: 18px;
  height: 18px;
}

.gautam-share.fixed > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  //box-shadow: 1px 1px 1px 1px $theme__color;
  //border: 1px solid #e7ebed;
  //background: rgba(136, 136, 136, 0.06);
  background: $theme__color;
  color: $second__theme__color;
  //border: 1px solid #e7ebed;
  position: absolute;
  bottom: 0;
  left: 0;
  //z-index: 10;
  //mix-blend-mode: difference;
  //color: #000;
  svg {
    width: 24px;
    height: 24px;
  }
}

.gautam-share.fixed {
  position: fixed;
  left: $left_position;
  bottom: 2vw;
  height: 60px;
  width: 60px;
  line-height: 50px;
  //z-index: 1000;
  transition: transform 0.45s cubic-bezier(0.15, 0.2, 0.1, 1);
}

// Focus withing is not working need to take help of the js
.gautam-share.fixed:hover,
.gautam-share.fixed:focus {
  height: 340px;
}

.gautam-share.fixed .gautam-share-inner {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 0;
  left: 0;
  //z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.gautam-share.fixed .gautam-share-inner a {
  line-height: 40px;
  height: 40px;
  width: 40px;
  position: absolute;
  opacity: 0;
  border: none;
  top: 0;
  //box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  //background: #fff;
  //border: 1px solid #e7ebed;
  background: #000;
  color: #fff;
  border-radius: 50%;
  transition: all 0.45s cubic-bezier(0.15, 0.2, 0.1, 1);
}

.gautam-share.fixed:hover,
.gautam-share.fixed:focus {
  .gautam-share-inner a:nth-child(1) {
    transform: translateY(-56px) scale(1);
    opacity: 1;
  }
}

.gautam-share.fixed:hover,
.gautam-share.fixed:focus {
  .gautam-share-inner a:nth-child(2) {
    transform: translateY(-106px) scale(1);
    opacity: 1;
  }
}

.gautam-share.fixed:hover,
.gautam-share.fixed:focus {
  .gautam-share-inner a:nth-child(3) {
    transform: translateY(-156px) scale(1);
    opacity: 1;
  }
}

.gautam-share.fixed:hover,
.gautam-share.fixed:focus {
  .gautam-share-inner a:nth-child(4) {
    transform: translateY(-206px) scale(1);
    opacity: 1;
  }
}

a.fb {
  background-color: #3a579a;
  color: #fff;
}

a.tw {
  background-color: #00abf0;
  color: #fff;
}

a.ln {
  background-color: #127bb6;
  color: #fff;
}

a.pt {
  background-color: #cd1c1f;
  color: #fff;
}
