.post-thumbnail img {
  //border-radius: 1rem;
  display: block;
}

.entry-meta span {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #666;
  font-weight: 500;
}

.no-post-thumbnail {
  width: inherit;
  max-height: 28.2rem;
  background: $theme__color;
  display: flex; // todo See if this is the right way to do this.
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  line-height: 1;
}

.blog-post-article-2 .no-post-thumbnail{
  height: 18.5rem;
}

.post-thumbnail-drop-case {
  color: rgba(255, 255, 255, 0.3);
  font-family: Serif;
  overflow: hidden;
  transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96),
    -webkit-transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.blog-post-article .post-thumbnail-drop-case {
  font-size: 20vw;
}

.blog-post-article-2 .post-thumbnail-drop-case {
  font-size: 10vw;
}


@media screen and (max-width: 992px) and (min-width: 568px) {
  .blog-post-article .post-thumbnail-drop-case {
    font-size: 30vw;
  }
}

@media screen and (max-width: 568px) {
  .blog-post-article .post-thumbnail-drop-case {
    font-size: 70vw;
  }
}

h2.entry-title{
  font-size: 2.4rem; // todo can these two thing be centralized?
  line-height: 1.4;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.blog-list-content-meta-info {
  font-size: 1.5rem;
  color: rgba(16, 16, 16, 0.8);
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.blog-type-list-content {
  padding-top: 2rem;
  padding-bottom: 3rem;

  .entry-header {
    & > a {
      font-weight: 600;
      font-size: 1.4rem;
      color: #c3323a;
      text-transform: uppercase;
    }
    & > a:hover {
      color: $theme__color;
      border-bottom-color: $theme__color;
    }
  }
}

h1.entry-title {
  margin-bottom: 0.8rem;
}

.post-thumbnail {
  margin: 4rem 0;
}

//todo tags
.tags-links,
.tagcloud {
  margin-top: 3rem;
  a {
    background: #eee;
    //color: #0f0e0e;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
  }
}

// This is for blog layout new
.blog-layout-2 {
  .entry-title {
    font-size: 30px;
    width: 100%;
    margin: 0 0 2vh -2px;
  }
  .post-thumbnail {
    float: right;
    margin-bottom: 15px;
    margin-left: 7%;
  }

  .blog-type-list {
    padding: 10px 0 10px 5%;
    border-left: 1px dashed #9ea1a4;
  }

  .blog-list-content-meta-info {
    margin-bottom: 2vh;
  }
  .post-thumbnail img {
    border: 4px solid #fed672;
  }

  flex: 1 1 50rem;
  max-width: unset !important;
  padding-right: 35px;
  padding-left: 60px;
}

@media (min-width: 768px) {
  .single-post {
    .entry-header,
    .entry-content,
    .tags-links,
    .post-navigation,
    .comments-area {
      margin-left: 8%;
      max-width: 84%;
    }
  }
  .page {
    .entry-header,
    .entry-content,
    .comments-area {
      margin-left: 8%;
      max-width: 84%;
    }
  }
}

.page article,
.single-post article {
  width: 100%;
}

.single-post .cat-links {
  border-radius: 0.4rem;
  padding: 0 10px;
  display: inline-block;
  margin-bottom: 10px;
  color: $body_text_dark_color;
  background: $theme__color;
}
