
.post-thumbnail img {
	border-radius: 1rem;
}

.entry-meta {
	font-size: 1.5rem;
	margin: 0 0 4rem;
}

.entry-meta span {
	margin-right: 1rem;
	color: #666;
}

.entry-meta span a {
	color: rgba(16, 16, 16, 0.8);
}

.no-post-thumbnail {
	width: 35rem;
	height: 23rem;
	background: #fed672;
	display: flex;  // todo See if this is the right way to do this.
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 1rem;
}

.post-thumbnail-drop-case {
	font-size: 25rem;
	color: rgba(0, 0, 0, .07);
	font-family: 'Finger Paint', cursive;
}

.post-thumbnail-drop-case::before {
	content: '';
	top: 2vh;
	right: 2vh;
	bottom: 1vh;
	opacity: 0.5;
	background-image: radial-gradient(#141c3a 6%, transparent 0);
	background-size: 28px 28px;
	position: absolute;
	width: 100%;
}

.entry-title > a{
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 2.4rem;	// todo can these two thing be centralized?
	line-height: 1.4;
	color: inherit;
	letter-spacing: normal;
	font-weight: 700;
}

.blog-type-list-content {
	padding-top: 2rem;
	padding-bottom: 3rem;

	.entry-header{
		& .cat-links > a{
			font-size: 1.5rem;
			color: rgba(16,16,16,.8);
			letter-spacing: 1px;
			font-weight: 600;
		}
		& > a{
			font-weight: 600;
			font-size: 1.7rem;
			border-bottom: 1px solid black;
			color: inherit;
		}
		& > a:hover{
			color: $theme__color;
			border-bottom-color: $theme__color;
		}
	}
}





// This is for blog layout new
.blog-layout-2{
	.entry-title{
		font-size: 30px;
		width: 100%;
		margin: 0 0 2vh -2px;
	}
	.post-thumbnail{
		float: right;
		margin-bottom: 15px;
		margin-left: 7%
	}

	.blog-type-list{
		padding: 10px 0 10px 5%;
		border-left: 1px dashed #9ea1a4;
	}

	.blog-list-content-meta-info{
		margin-bottom: 2vh;
	}
	.post-thumbnail img{
		border: 4px solid #fed672;
	}

	flex: 1 1 50rem;
	max-width: unset !important;
	padding-right: 35px;
	padding-left: 60px;
}