.single-in-header-1 {
  & .wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    & > div {
      //flex-basis: 50%;
      flex: 1 1 50%;
      & img {
        display: block;
        border-radius: 1rem;
      }
    }
    //& .meta-data {
    //  padding: 5rem;
    //}
  }
}
