.column-2-title-image-compact {
  & .wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 1rem;
    & > div {
      //flex-basis: 50%;
      flex: 1 1 50%;
      & img {
        display: block;
      }
    }
    & .meta-data {
      padding: 5rem;
    }
  }

  & .entry-title {
    font-size: 5rem;
  }
}
