//@media (min-width: 768px) {
//  .single-post {
//    .entry-header,
//    .entry-content,
//    .tags-links,
//    .post-navigation,
//    .comments-area,
//    .author-bio {
//      margin-left: 8%;
//      max-width: 94%;
//    }
//  }
//  .page {
//    .entry-header,
//    .entry-content,
//    .comments-area,
//    .author-bio {
//      margin-left: 8%;
//      max-width: 94%;
//    }
//  }
//}

.page article,
.single-post article {
  width: 100%;
  flex: 100%;
}

.post-thumbnail.in-style {
  align-self: stretch;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cat-links {
  border-radius: 3rem;
  padding: 3px 10px;
  display: inline-block;
  margin-bottom: 10px;
  color: #000;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 900;
  font-size: 1.2rem;
  border: 1px solid #e0dede;
}

.entry-title {
  margin-bottom: 1.5rem;
}

.entry-meta {
  color: rgb(102, 94, 94);
  font-size: 1.6rem;
}

.single-post .entry-meta > span:after {
  content: "";
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 5px;
  width: 6px;
  height: 6px;
  //border: 1px solid #909090;
  background-color: #ae364d;
  top: -1px;
  position: relative;
}
