.blog-2 {
  //& > article {
  //  margin-bottom: 3rem;
  //}

  & .inner-article {
    position: relative;
    height: 100%;
  }

  & .sticky .badge {
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    color: white;
    border-bottom-left-radius: 1rem;
    padding: 1rem 1rem 0 1rem;
  }

  & .inner-article::before {
    content: "";
    position: absolute;
    background: #dadce0;
    height: 100%;
    width: 100%;
    top: 5px;
    left: 5px;
    z-index: -1;
    border-radius: 12px;
  }

  & .inner-entry {
    background: #fff;
    padding: 2rem;

    &:hover {
      transform: translate(-0.3rem, -0.3rem);
    }
  }

  & .entry-title {
    //font-weight: 500;
  }
}

.entry-meta > .cat-links {
  background-color: #f5f7f8;
  opacity: 0.8;
  //color: #546e7a;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.5rem;
}

.entry-meta > .posted_on {
  //color: #263238;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 2rem;
  opacity: 0.8;
}
