.site-footer {
  background-color: #17161a;
  color: #fff;
  font-size: 1.5rem;
}

.site-footer p {
  margin: 0;
}

.site-info .row {
  display: flex;
  place-content: center center;
  flex-direction: column;
  padding: 3rem 0;
}

@media screen and (max-width: 768px) {
  .site-info-holder .right {
    text-align: left;
    width: 100%;
  }
}
