.footer-menu--1 {
  display: flex;
  justify-content: center;
  list-style: none;

  & li {
    padding: 0 10px;
  }
}

.site-footer-2-info .wrap-site-info {
  border: none;
}

.site-footer-2-info .site-info .row {
  display: unset;
}

//.site-footer-2-info .site-footer-main {
//  padding: 0;
//}

.site-footer-2-info .site-info-holder {
  display: flex;
  justify-content: center;
}

.site-footer {
  padding: 75px 0;
}

.site-footer-2-main {
  padding-bottom: 10px;
}
