.page.in-header {
  & .wrap {
    margin: 0 auto;
    & > div {
      flex: 1 1 50%;
    }
  }

  &.has-featured-image .meta-data {
    color: #fff;
  }

  & .post-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
    margin: 0;
    background-color: $theme__color;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      background-color: rgba(17, 17, 17, 0.5);
    }
    & img {
      border-radius: unset;
    }
  }

  & .site-header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.admin-bar .site-header {
    top: 32px;
  }

  & .header-menu-bar {
    box-shadow: unset;
  }

  & .in-header-container {
    padding-top: 10vh;
    &.thumbnail {
      position: relative;
      display: flex;
      justify-content: center;
    }
  }

  & .meta-data {
    margin: 10vh 0 5vh 0;
  }
}
