h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: Merriweather, serif;
	color: #222;
}

h1 {
	font-size: calc(20px + 26 * ((100vw - 576px) / 1024));
	margin: 2rem 0;
	font-weight: 700;
}

h2 {
	font-size: 2.6rem;
}

h2.entry-title {
	margin: 40px 0 10px;
	letter-spacing: -0.5px;
}