h1,
h2,
h3,
h4,
h5,
h6 {
	// todo viveka Need to check why it was required. Just a copy past or needed for some work
	//clear: both;
	font-family: Merriweather, serif;
	color: #101010;
}

h1 {
	font-size: calc(20px + 26 * ((100vw - 576px) / 1024));
	margin: 2rem 0;
	font-weight: 700;
}

h2 {
	font-size: 2.6rem;
}
