/* ==========================================================================
*  gautam admin page related styles.
*  ========================================================================== */

body {
	background-color: #fff;
}

#wpcontent {
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	-webkit-font-smoothing: subpixel-antialiased;
}

#wpbody-content {
	padding: 0 35px;
	float: unset;
	width: unset;
}

.wrap-container {
	margin: 0 auto;
	padding: 2% 2%;
}

.gautam-section-title {
	max-width: 500px;
	padding-left: 1%;
}

h2.gautam-section-title {
	font-size: 60px;
	margin: 0 0 3rem 0;
	padding-left: 0;
}

.gautam-section-title p {
	font-size: 17px;
	color: #000;
}

/*Gautam Tabs*/
.gautam-tabs {
	border-bottom: 2px solid #E1E1E4;
	margin-left: 1%;
}

.gautam-tabs > ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.gautam-tabs > ul > li {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.gautam-tabs > ul > li > a {
	padding: .5rem 1rem;
	color: #000;
	background-color: transparent;
	text-decoration: none;
	position: relative;
}

.gautam-tabs > ul > li.current-item > a {
	font-weight: bold;
}

.gautam-tabs > ul > li > a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -1px;
	background-color: #FF4433;
	transform: scaleX(0);
	transform-origin: right center;
	transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.gautam-tabs > ul > li.current-item > a::after {
	transform: scaleX(1);
}

.gautam-tabs > ul > li > a:hover::after {
	transform: scaleX(1);
	transform-origin: left center;
}

/*Gautam Main Section*/
#wpbody-content .gautam-section {
	display: flex;
	margin-bottom: 50px !important;
}

#wpbody-content .gautam-columns {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	align-items: stretch;
}

#wpbody-content .gautam-section.gautam-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}

#wpbody-content .gautam-card {
	padding: 2% 1%;
	flex: 1 1 30%;
}

#wpbody-content .gautam-card .card-inner-box {
	padding: 10% 8%;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #E1E1E4;
}

#wpbody-content .gautam-card h4 {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 12px;
	margin-top: 0;
}

#wpbody-content .gautam-card p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 36px;
}

#wpbody-content .gautam-card .gautam-buttons {
	padding: 10px;
}

#wpbody-content .gautam-card .gautam-buttons .adm-btn {
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	position: relative;
	outline: none;
	box-shadow: none;
	color: #FF4433;
}

#wpbody-content .changelog-version {
	font-size: 11px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 16px;
	color: #55718c;
	background-color: #d6e1ec;
	margin: 0 12px;
	padding: 5px 7px;
	margin-top: 1px;
}

#wpbody-content .gautam-core-changelog {
	margin-top: -30px !important;
}

#wpbody-content .gautam-columns .gautam-changelog {
	max-height: 500px;
	overflow: scroll;
	padding: 0 20px;
	background-color: #f1f1f1;
	width: 100%;
}

@media screen and (max-width: 1000px) {
	#wpbody-content .gautam-card {
		flex-basis: 50% !important;
		max-width: 50% !important;
	}
}

@media screen and (max-width: 670px) {
	#wpbody-content .gautam-section.large-section p {
		flex-basis: 100% !important;
		max-width: 100% !important;
	}

	#wpbody-content .gautam-card {
		flex-basis: 100% !important;
		max-width: 100% !important;
	}

	.admin-bar #wpcontent {
		padding-top: 46px;
	}

}
