
.entry-footer {
	margin-top: 3rem;
}

.site-footer {
	background-color: #17161a;
	color: rgba(255, 255, 255, 0.8);
}

.site-footer .wrap {
	padding: 6rem 0;
}

.site-footer a {
	color: rgba(255, 255, 255, 0.8);
}

.wrap-site-info {
	justify-content: center;
	border-top: 1px solid rgba(136, 136, 136, .1);
}

.site-info-holder {
	padding: 3rem 0;
}

.main-footer div {
	flex: 1 1 25rem;
}
