* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-wrap: break-word;
}

html {
	font-size: 62.5%;
}

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	/*font-family: 'PT Sans', sans-serif;*/
	/*font-family: 'Arbutus Slab', serif;;*/
	//font-family: 'Noto Serif', serif;
	//font-family: 'Roboto', sans-serif;
	//font: 400 18px / 1.77778 "Roboto",sans-serif;

	font: 400 18px / 1.5 'PT Sans', sans-serif;
	color: $body_text_light_color;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 3.6rem;
}

@media screen and (min-width: 910px) and (max-width: 991px) {
	.wrap {
		width: 910px;
		margin: auto;
	}
}

@media screen and (min-width: 992px) {
	.wrap {
		width: 1400px;
		margin: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 910px) {
	.wrap {
		width: 750px;
		margin: auto;
	}
}
