button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #fff;
  border-radius: 40px;
  padding: 12px 25px;
  border: 1px solid #000;
  //font-size: 15px;
  background: #000;
  line-height: 1.5;
  min-height: 45px;
  min-width: 120px;
  height: 46px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  cursor: pointer;
  float: right;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}
