table {
  margin: 0 0 1.5em;
  width: 100%;
}

.wp-block-table {
  margin-bottom: 3.6rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

thead {
  //background-color: $theme__color;
  //border-color: $theme__color;
  color: $body_text_dark_color;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.wp-block-table td,
table td {
  border: none;
  padding: 12px;
  text-align: center;
}

.wp-block-table th,
table th {
  padding: 10px 20px;
}

.wp-block-table tfoot,
table tfoot {
  font-weight: bold;
}
