@media only screen and (max-width: 768px) {
  .aaurora-search {
    opacity: 0;
    visibility: hidden;
  }
}

.aaurora-search {
  position: fixed;
  left: $left_position;
  bottom: 34px;
  display: inline-flex;
  //box-shadow: $theme__color 7px 7px 0px 0px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  //box-shadow: 1px 1px 1px 1px $theme__color;
  //border: 1px solid #e7ebed;
  //background: rgba(136, 136, 136, 0.06);
  background: #fff;
  //mix-blend-mode: difference;
  //color: #000;

  svg {
    //fill: #000;
    width: 24px;
    height: 24px;
  }
}

.popup_search_modal {
  background-color: rgba(23, 22, 26, 0.99);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  overflow: hidden;
  opacity: 0;
  //visibility: hidden;
  display: none;
  transition: opacity 0s cubic-bezier(0.15, 0.2, 0.1, 1);
}

.popup_search_modal.visible {
  //visibility: visible;
  display: block;
  opacity: 1;
}

//todo need to see how to remove !important
.search.search-submit {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  min-height: 30px !important;
  height: 35px !important;
  border-radius: 0 0 4px 4px !important;
  text-transform: uppercase;
  color: #000;
  font-size: medium;
}

.popup_search_modal .search-field {
  &:focus {
    color: #fff;
  }
  &::placeholder {
    color: #fff;
  }
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 15px 20px;

  background-color: rgba(255, 255, 255, 0.3);
  //border-color: rgba(0, 0, 0, 0.2);
  //border-radius: 5px;
  color: #fff;
  //height: 56px;
  //width: 40rem;
}

.popup_search_modal .search_holder {
  position: relative;
  z-index: 999;
  top: 20vh;
  overflow: hidden;
  width: calc(100% - 50px);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

.popup_search_modal > .popup_modal_close_button {
  color: #fff;
  padding: 4rem;
  display: flex;
  justify-content: flex-end;
  & > svg {
    width: 6rem;
    height: 6rem;
  }
}

.search-field:focus {
  border: 1px solid #0a0909;
}
