main,
.main-container,
.main-footer,
.wrap-site-info,
.main-header,
.article-container,
.comment-form{
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
}

article {
	flex: 1 1 30%;
	margin: 0 1% 1%;
	min-width: 0;
}

aside {
	flex: 1 1 30rem;
	padding: 0 2rem;
}

article, nav.navigation {
	padding: 0 0 4rem;
}

.single-post .primary-content{
	max-width: 100rem;
	margin: auto;
}
//.blog-type-list {
//	//display: flex;
//	//flex-direction: column;
//}

// Probbaly those are part of article section should be moved to content
.blog-type-list-content {
	padding-top: 2rem;
}

.cat-links > a{
	font-size: 1.5rem;
	color: #0e59b7f5;
	letter-spacing: 1px;
	font-weight: 600;
}
.blog-type-list-content .entry-header > a{
	//text-transform: uppercase;
	//color: #c3323a;
	font-weight: 600;
	font-size: 1.7rem;
	border-bottom: 1px solid black;
}

.blog-type-list-content .entry-header > a:hover{
	color: #0e59b7f5;
	//letter-spacing: 2px;
	border-bottom-color: #0e59b7f5;
}

.entry-title{
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 2.4rem;	// todo can these two thing be centralized?
	line-height: 1.4;
}

.home article,
.archive article {
	max-width: 43rem;
}

main,
.article-container {
	margin: 0 2rem;
	max-width: 140rem;  // todo need to check if this can be removed as other width is there screen and (min-width: 992px)
	flex: 2 1 80rem;
	justify-content: space-between;
	overflow-x: auto;
}

// This is for blog layout new
.blog-layout-2{
	.entry-title{
		font-size: 30px;
		width: 100%;
		margin: 0 0 2vh -2px;
	}
	.post-thumbnail{
		float: right;
		margin-bottom: 15px;
		margin-left: 7%
}

	.blog-type-list{
		padding: 10px 0 10px 5%;
		border-left: 1px dashed #9ea1a4;
	}

	.blog-list-content-meta-info{
		margin-bottom: 2vh;
	}
	.post-thumbnail img{
		border: 4px solid #fed672;
	}

	flex: 1 1 50rem;
	max-width: unset !important;
	padding-right: 35px;
	padding-left: 60px;
}