.main-header,
.main-container,
.article-container,
.post-navigation .nav-links,
.comment-form,
.main-footer,
.wrap-site-info {
	display: flex;
	flex-wrap: wrap;
}

main{
	flex: 2 1 80rem;
	max-width: 140rem;  // todo need to check if this can be removed as other width is there screen and (min-width: 992px)
}

aside {
	flex: 1 1 30rem;
}

.article-container
{
	justify-content: space-between;
	//overflow-x: hidden; why we need this
}

// todo Need to differentiate between logic for Single Post / Page and Archives
main {
	margin: 6rem auto;
}

.blog-post-article {
	padding: 1%;
	max-width: 31%; //todo see if this percent is working or not
	flex: 1 1 31%;
	//min-width: 42rem;
	//min-width: 0; // TODO this is used for images when it crosses the width of the area so that it can be accomodated appropriately.
}

article{
	min-width: 0;
}

.blog-post-article .post-thumbnail img {
	transition: transform 1s cubic-bezier(.46,.03,.52,.96),-webkit-transform 1s cubic-bezier(.46,.03,.52,.96);
}

.blog-post-article:hover .post-thumbnail img {
	transform: scale(1.05) translateZ(0);
	border-radius: 1rem;
}

.blog-post-article:hover .brand-color-hover {
	transform: translate3d(0,0,0);
	opacity: 1;
}

.post-thumbnail-container{
	overflow: hidden;
	border-radius: 1rem;
}

.brand-color-hover
{
	opacity: 0;
}

.single-post .primary-content{
	max-width: 100rem;

	// todo problem when sidebar is large and content is small it auto margin height too
	// Should be enabled when there is no sidebar
	//margin: auto;
}

@media screen and (min-width: 992px)  {
	.blog-post-article {
		max-width: 33%; //todo see if this percent is working or not
		flex: 1 1 33%;
		//min-width: 29rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.blog-post-article {
		max-width: 50%; //todo see if this percent is working or not
		flex: 1 1 50%;
		//min-width: 29rem;
	}
}

@media screen and (max-width: 768px){
	.blog-post-article {
		max-width: 100%; //todo see if this percent is working or not
		flex: 1 1 100%;
		//min-width: 29rem;
	}
}
