


/* Widget Styling*/
.widget-area .widget{
	margin-bottom: 45px;
	font-size: 14px;
	line-height: 23px;
	color: #666;
}

.widget-area .widget-title{
	margin-top: -4px;
	margin-bottom: 19px;
	border-radius: 30px;
	font-size: 2rem;
	color: #000;
	position: relative;
}
