$theme__color: #e22c2f; //#0e59b7f5;
$body_text_light_color: #222;
$body_text_dark_color: #fff;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #17161a;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #44405a;
$color__text-input-focus: #111;
$color__link: #101010; //royalblue
$color__link-visited: $theme__color !default; //#101010; //purple
$color__link-hover: $theme__color !default; //#e22c2f; //midnightblue
$color__text-main: #404040;

$color__border-button: #17161a #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: rgba(68, 64, 90, 0.1);
$color__border-abbr: #666;
