/*
* Variables
*/
:root {
  /* Theme settings colors */
  --theme-color: #f5f1f1;
  --font_size_post-title_mobile: 4rem;

  --button-background: #17161a;
  --button-text-color: #fff;
  --button-border-color: #17161a;
  --button-hover-background: #d90a2c;
  --button-hover-text-color: #fff;
}
