/*
* Variables
*/
:root {
	/* Theme settings colors */
	--theme-color: #165df5;
	--second-theme-color: #fff;
	--font_size_post-title_mobile: 4rem;

	--button-background: #fff;
	--button-text-color: #000;
	--button-border-color: #17161a;
	--button-hover-background: #d90a2c;
	--button-hover-text-color: #fff;
	--button-border-radius: 0.4rem;
	--left-position: 3.4rem;
	--righ-position: 3.4rem;
}
