/* Widget Styling*/

/**
 * LEFT / RIGHT SIDEBAR
 */
.sidebar-right,
.sidebar-left {
  ul,
  ol {
    li {
      //padding: 0 0 5px;
    }
  }
}

aside {
  //border: 3px solid #f1edeb;
  padding: 20px;
  color: #333;
}

body.admin-bar aside {
  top: 3.2rem;
}

// For Sidebar Categories

.sidebar-right,
sidebar-left {
  & .widget:not(.widget_seriestoc) {
    margin-bottom: 5rem;
    //margin-right: auto;
    //margin-left: auto;
    //max-width: 85%;

    border: 1px solid #dadce0;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
  }

  & .widget-title {
    color: #6d6d6d;
    font-size: 1.8rem;
    font-weight: 700;
    //margin-bottom: 1.5rem;
    //padding-bottom: 0.4rem;

    border-radius: 4px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    background-color: #e6f4ea;
    color: #0d652d;
    //border-bottom: 2px solid $theme__color;
  }
}

.widget ul {
  list-style: none;
}

//Sidebar Search field
// TODO may be it should be in some common css.
.search-field {
  padding: 1rem 2rem 0 0;
  border: none;
  border-bottom: 1px solid #ececec;
  font-size: 1.8rem;
}
