@media only screen and (max-width: 786px) {
  .aaurora_social_follow {
    opacity: 0;
    visibility: hidden;
  }
}

.aaurora_social_follow {
  font-size: 1.5rem;
  position: fixed;
  right: 34px;
  top: 50%;
  font-weight: 600;
  z-index: 10;
  align-items: center;
  margin: auto;
  transform-origin: center right;
  transform: rotate(-90deg) translate(50%, -50%);
}

.aaurora-social-holder {
  white-space: nowrap;
  display: flex;
  list-style: none;
}

ul.aaurora-social-holder > li {
  padding: 0 5px;
}

.aaurora-social-holder li:not(:last-child) a:after {
  content: ".";
  display: inline;
  //padding-left: 10px;
}

.aaurora_social_follow.no_social_color > .aaurora-social-holder a {
  color: #000;
}
