/* Widget Styling*/

aside {
  background: #fff;
  width: 407px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 9999;
  transform: translate(100%, 0);
  transition: transform 0.5s, width 0.5s ease-in-out;
  font-size: 1.7rem;
}

.site-header,
.aside-header {
  border-bottom: 1px solid #e9ecef;
}

@media screen and (max-width: 48rem) {
  aside {
    max-width: 32rem;
    padding: 10px 4px 4px;
  }
}

aside.open {
  transform: translate3D(0, 0, 0); // is it necessary
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); // TODO need to check if this section is getting copied two times in style.css????
}

.aside-header {
  padding: 3rem 2rem 2rem 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  .custom-logo {
    max-width: 110px;
    max-height: 110px;
  }
}

.sidebar-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in 0.2s;
}

.sidebar-overlay.open {
  visibility: visible;
}

.sidebar-close-btn {
  display: flex;
}

// For Sidebar Categories
.widget {
  margin-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 30rem;
}

.widget-title {
  text-transform: uppercase;
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.widget ul {
  list-style: none;
}

.widget_categories a {
  padding: 0 0 0 20px; // todo look for better widget title option so that this can be removed. can it be removed above??
}

//Sidebar Search field

.search-field {
  padding: 1rem 2rem 0 0;
  border: none;
  border-bottom: 1px solid #ececec;
  font-size: 1.8rem;
}
